body {
    margin: 0;
    overflow: hidden;
    background: #000;
}

canvas {
    height: 100vh;
    width: 100vw;
}

.hud {
    position: absolute;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}